<div class='footer'>
<div class='clearfix row'>
  <div class='col-xs-3'>
    <a ui-shref='forum({ page:"ask-the-expert}")'>Ask the expert</a>
    <a ui-sref='reference({ page:"articles" })'>Articles</a>
    <a ui-sref='reference({ page:"what-is" })'>What Is?</a>
    <a ui-sref='reference({ page:"faqs" })'>Frequently Asked Questions</a>
  </div>
  <div class='col-xs-3'>
    <a ui-sref='information({ page:"ip-and-copyright" })'>IP &amp; Copyright</a>
    <a ui-sref='information({ page:"contact-us" })'>Contact us</a>
    <a ui-sref='information({ page:"privacy" })'>Privacy</a>
    <a ui-sref='information({ page:"privacy#cookies" })'>Cookie Policy</a>
    <a ui-sref='information({ page:"conditions-of-sale" })'>Conditions of sale</a>
    <a ui-sref='information({ page:"shipping-and-returns" })'>Shipping and returns</a>
  </div>
  <div class='col-xs-2'>
  </div>
  <div class='col-xs-4'>
    <div mailchimp ></div>
    <div class='social'>
      <a href='http://www.facebook.com/pages/dampexpertcom/260284257598'><img ng-src='assets/img/facebook.png'></a>
      <a href='http://twitter.com/dampexpert'><img ng-src='assets/img/twitter.png'></a>
      <a href='http://youtube.com/dampexpert'><img ng-src='assets/img/youtube.png'></a>
    </div>
  </div>
</div>
<a class='copyright' ui-sref="home"><small>&copy; Infosys Technologies Ltd</small></a>
</div>