<div class='header clearfix'>
  <div class="row topbar">
    <div class="col-xs-12">&nbsp;</div>
  </div>
  <a class='home pull-left' ui-sref='home({storeId : 10153, catalogId : 12605})'>
    <span emspot emsname='HeaderStoreLogo_Content'></span>
  </a>
  <div class='pull-right'>
    <div class='header-content'>
      <div class='header-link'>
        <a ui-sref='home'>Wishlist</a> | <a ui-sref='home'>Language/Currency</a> | <a ui-sref='home'>Signin/Register</a>
      </div>
      <div class='header-social'>
        <a ui-sref='home'>Connect to Facebook</a> | <a ui-sref='home'>Store Locator</a>
      </div>
    </div>
    <div class='cart'>
      <shopping-cart href='checkout'></shopping-cart>
    </div>
    <div class='contact'>
      <div class='text'>CALL US ON</div>
      <div class='tel'>{{admin.salesphone}}</div>
    </div>
  </div>
</div>